/* Hide scrollbar for all browsers */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body {
  overflow: -moz-scrollbars-none; /* Hide scrollbars in Firefox */
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
